@import url('style.css');

@media (max-width: 1065px){
    .game-text-home{
         margin-right: 431px;
    }

    .home-text{
        font-size: 85px;
    }

    .homeImage img{
        width: 76%;
    }
    .homeText{
        font-size: 77px;
    }
    .gun{
        padding-left: 21px;
    }
    .homeImage{
        height: 125px;
    }
}