*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: "Space Grotesk", sans-serif;
}

.completed{
    color: rgba(255, 255, 255, 0.62);
}

nav{
    position: sticky !important;
    top: 2px;
    background: #42387016;
}

nav ul{
    opacity: 0.6;
}

nav ul li a{
    transition: .5s;
    position: relative;
}

nav ul li a:hover{
    color: #4c0899;
}

nav ul li a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #5109a4;
    border-radius: 10px;
    transform: scale(0) translateY(50px);
    transition: .5s;
    opacity: 0;
}

nav ul li a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.homeImage img {
  position: relative;
  bottom: 322px;
  z-index: -1;
}

.homeText {
  font-family: "Keania One", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  line-height: 171.6px;
  font-size: 141px;
  z-index: 2;
}



.gunshot-text strong{
    font-weight: 400;
    font-size: 51px;
    line-height: 62.07px;
    font-family: "Keania One", sans-serif !important;
}

.right img{
    margin: 25px;
    width: 370px;
}


.contact form input, textarea{
    background: transparent;
    color: white !important;
    width: 100%;
    padding: 1.2rem !important;
    border: 1px solid gray;
    font-weight: 400;
    font-size: 25px !important;
    line-height: 31.9px;
    outline: none;
    border-radius: 5px;
}
